body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}
body {
  cursor: url("./assets/image/tapette-a-mouches.png");
}
/* .container {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/image/vitre.jpg");
  background-repeat: no-repeat;
  background-size: cover;
} */
.fly {
  transition: left 1s ease, top 1s ease; /* Ajouter une transition pour left et top */
}

#blueFly {
  /* width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%; */
  transform: translate(-50%, -50%);
}

#swatter {
  width: 100px;
  height: 100px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.1s ease-in-out;
  background-image: url("./assets/image/tapette-a-mouches-noir.png"); /* Changer le chemin vers votre image de tapette */
  background-size: contain;
  pointer-events: none; /* Pour que la tapette ne bloque pas les événements de souris */
}
.swat {
  transform: translateX(-50%) translateY(-50px) rotate(45deg); /* Animation de la tapette à mouche */
}
/* .container {
  display: flex;
  justify-content: end;
} */
.permierePage {
  display: block;
  color: blue;
  text-align: center;
  background-color: aquamarine;
  width: 100%;
  height: 100vh;
}
.permierePage H1 {
  margin-top: 0;
}
.permierePage h2 {
  color: red;
}
.pageJeu {
  display: none;
}
